<div class="card" style="background-color: #e3f2fd;"> 
  <div class="card-header bg-primary">
    <h4>{{familyName}}</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Cette famille contient {{members.length}} membres</h5>
    <button class="show-family-members btn btn-info" data-id="{{id}}">Voir Les Membres</button>
    <p class="card-text">Vous pouvez effectuer des mises à jour, supprimer ou modifier ce nom de famille en cliquant sur ces deux boutons ci-dessous.</p>
    <button class="delete-family btn btn-danger" data-id="{{id}}">Suprimer</button>
    <button class="edit-family btn btn-warning" data-id="{{id}}">modifier</button>
  </div>
  <div class="card-footer text-muted" style="font-style: italic;">
   Seul l'administrateur peut modifier ou supprimer cette famille
  </div>
</div>