<article class="post">
  <div class="title">
    <span>{{familyName}}</span>
    <span>{{members.length}}</span>
    {{#each members}}
    <div>
      <p>{{this.lastName}}</p>
      <p>{{this.firstName}}</p>
      <p>{{this.dateOfBirth}}</p>
    </div>
    {{/each}}
  </div>
</article>