<div class="my-commity">
  <div class="head">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/"><img src="/images/Screenshot 2023-04-10 112519.png" alt="" width="100" ></a>
      <button class="navbar-toggler navbar-little-icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon active"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/" id="home">Retour à l'accueil  <i class="fa-solid fa-backward"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link events" href="/event">Événement <i class="fa-regular fa-calendar-days"></i></a>   '
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Aide villageois  <i class="fa-regular fa-calendar-days"></i></a>
          </li>
          <li>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="commity-member table-responsive-sm">
    <div class="col-auto input-field">
      <button type="submit" class="btn btn-primary mb-2 btn-show-hidden-box active">Ajouter Comité</button>
    </div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th>Role</th>
          <th scope="col">Début</th>
          <th scope="col">Suprimer</th>
        </tr>
      </thead>
      {{#each commityData}}
      <tbody>
        <tr>
          <th scope="row" class="id">#</th>
          <td>{{firstName}} {{lastName}}</td>
          <td>{{role}}</td>
          <td>{{startedDate}}</td>
          <td><button class="delete-commity-member bg-warning" data-id="{{id}}">Suprimer</button></td>
        </tr>
      </tbody>
      {{/each}}
    </table>
  </div>

  <div class="add-commity" hidden>
    <form>
      <div class="form-row">
        <div class="col input-field">
          <input type="text" class="form-control code" placeholder="Code d'administrateur">
        </div>
        <div class="col input-field">
          <input type="text" class="form-control commityFirstName" placeholder="Prénom du condidat">
        </div>
        <div class="col input-field">
          <input type="text" class="form-control commityLastName" placeholder="Nom du condidat">
        </div>
        <div class="col input-field">
          <input type="text" class="form-control role" placeholder="Role">
        </div>
        <div class="col input-field">
          <input type="text" class="form-control startedDate" placeholder="Date de debut">
        </div>
        <div class="col-auto input-field">
          <button type="submit" class="btn btn-primary mb-2 commity-submit-btn">soumettre</button>
          <button type="button" class="btn btn-primary mb-2 bg-danger close-box">Fermer</button>
        </div>
      </div> 
    </form>
  <div>
</div>


<script src="/javascript/add-delete-edit-commity.js"></script>
<script src="/javascript/search-family.js"></script>