<div>
  {{!-- If a family has members, then display them --}}
  {{#if singleFamilyData.members}}
    {{!-- loop over the data  --}}
    {{#each singleFamilyData.members}}
    <p style="color: white;">{{this.firstName}}</p>
    <p style="color: white;">{{this.lastName}}</p>
    <p style="color: white;">{{this.dateOfBirth}}</p>

    <div>
      <button class="delete-member btn btn-primary" data-id="{{id}}">Edit</button>
      <button class="edit-member btn btn-primary" data-id="{{id}}">Delete</button>
    </div>
    {{/each}}
  {{!-- if not, then show this message --}}
  {{else}}
    <div style="color:white">No Memberes Yet</div>
  {{/if}}

  <button class="btn btn-primary">Add a member</button>
</div>
