<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/"><img src="/images/Screenshot 2023-04-10 112519.png" alt="" width="100" ></a>
  <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/" id="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/commity" id="nav-link-padding">Comité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/event" id="nav-link-padding">Événement</a>
      </li>
            <li class="nav-item">
        <button class="nav-link logout" id="nav-link-padding">Se déconnecter</button>
      </li>
      <li class="nav-item">
        {{!-- you can able this when the user is an admin  --}}
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class="form-row members members">
  {{!-- If a family has members, then display them --}}
  {{#if singleFamilyData.members}}
    {{#each singleFamilyData.members}}
    <div class="card col-sm col-lg-4 col-md-3" style="width: 18rem;">
      <div class="card-header bg-primary">
        Member Infos
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">First Name: {{this.firstName}}</li>
        <li class="list-group-item">Family Name: {{this.lastName}}</li>
        <li class="list-group-item">Date Of Birth: {{this.dateOfBirth}}</li>
      </ul>

      <div style="padding: 10px;">
        <button class="delete-member btn btn-danger" data-id="{{id}}">Delete</button>
      </div>
    </div>
    {{/each}}
      {{else}}
    <div style="color:white">No Memberes Yet</div>
  {{/if}}
</div>
<button class="btn btn-primary show-add-member-box">Add Member</button>

<form class="add-member-form" hidden>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01" class="form-content">Code d'administrateur</label>
      <input type="text" class="form-control code" id="validationDefault01" placeholder="Votre code" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault01" class="form-content">First name</label>
      <input type="text" class="form-control memberFirstName" id="validationDefault01" placeholder="First name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02"  class="form-content">Last name</label>
      <input type="text" class="form-control memberLastName" id="validationDefault02" placeholder="Last name"  required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault03"  class="form-content">Date Of Birth</label>
      <input type="text" class="form-control memberDateOfBirth" id="validationDefault03" placeholder="Date Of Birth" required>
    </div>
  </div>
  <button class="btn btn-primary add-member" type="submit">Submit form</button>
</form>

<script src="/javascript/add-member.js"></script>
<script src="/javascript/editOrDeleteMember.js"></script>
<script src="/javascript/search-family.js"></script>